/*
Base element settings (no classes or id's).

@since 0.1.0
*/

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5){
        html,
        body{
            width: 100%;
        }
}

// Select color
::selection {
    background: $primary-color;
    @include light-or-dark-text($primary-color);
}

::-moz-selection {
    background: $primary-color;
    @include light-or-dark-text($primary-color);
}

html {
    
    @include breakpoint( small only ) {
        
        &.off-canvas-fix {
        
            height: 100%;
            margin-top: 0 !important; // EDD or some other plugin is adding in-line CSS below my inclusion of our styles.
            
        }
        
    }
    
}

section {
    position: relative;
}

// Classes
.screen-reader-text {
    display: none;
}

#site-content {
    
    height: 100%;
    padding-top: $site-content-padding;
    //background-color: $body-background;
    
}

body.page.has-post-thumbnail {

    #site-content {
        padding-top: 0;
    }

}

.page-content {
    padding: 30px;
}

.admin-bar {
    #site-content {
        
        @include breakpoint( small only ) {
            
            padding-top: $site-content-padding + 22;
            
        }
        
    }
}

img[class*=" wp-image-"] { // Catch-all to grab images added via "Add Media" button

    @include thumbnail;
    border: none;
    box-shadow: none;
    
    &:hover, &:focus {
        box-shadow: none;
    }

}

.pagination {
    text-align: center;
}

.widget {

    list-style-type: none;

}

ul.multi-column, ol.multi-column {
    
    li {
        float: left !important; // Just apply Column Classes to the <li>s as you would anything else and they will span multiple columns
    }
    
}

// This ensures we can ignore other areas wehere we don't want these styles
.off-canvas-content a:not(.button) {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
		text-decoration-skip: ink;
    }
}

.cursive {
    font-family: 'Leckerli One', cursive;
}

@each $size, $breakpoint in $breakpoints {

    @if $size == 'small' {

        // Parent element needs a fixed height
        // This is normally achieved via Equalizer
        .vertical-align {

            position: relative;
            top: 50%;
            transform: translateY( -50% );
            
        }

    }
    @else {

        .#{$size}-vertical-align {

            @include breakpoint( $size ) {

                position: relative;
                top: 50%;
                transform: translateY( -50% );

            }

        }

    }

}