/*
Styles the downloads archive page.

@since 0.1.0
*/

@import "../settings";
@import "../../vendor/sass/foundation/components/type";

body.post-type-archive-download {

  .product {
    text-align: center;
    margin-bottom: 40px;
  }

  .title {
    font-size: $h2-font-size * 0.8;
  }

  .product-image {

    img {
      max-width: 250px;
      height: auto;
      margin-bottom: 20px;
    }

    .product-price {
      margin-bottom: 20px;
    }
  }

  .product-buttons {
    .button {
      margin-bottom: 0;
    }
  }
}