/*
Single forum thread page.

@since 0.1.0
*/
@import "../settings";
@import "../../vendor/sass/foundation/components/breadcrumbs";

body.bbpress.single-topic {
}

#bbpress-forums{
  .status-closed {
    color: inherit;

    a {
      color: inherit;
    }
  }

  fieldset.bbp-form {
    padding: 0;
  }
}

#bbpress-forums ul.bbp-forums {
    font-size: 1.333335em;
}

#subscription-toggle {
  margin-left: 10px;
}

.bbp-breadcrumb {
  @include breadcrumbs-container;
  margin-bottom: 20px;
    padding: rem-calc(9 14 9);
    
    border-style: solid;
    border-width: 1px;
    background-color: #E2E2E2;
    border-color: #cbcbcb;

  [class*="bbp-breadcrumb-"]:not(.bbp-breadcrumb-sep) {
    @include crumbs;
  }

  a {
    color: $anchor-color !important;

    &:hover {
      color: $anchor-color-hover !important;
        text-decoration: none;
    }
  }

  .bbp-breadcrumb-sep {
    display: none;
  }
}

#bbp_search_submit {
    padding: 0.85em 1em; // Foundation Default
    font-size: 0.83rem;
    margin-bottom: 0.40em;
}