// We have to override a lot of inline garbage for this

.top-bar.sticky {

    margin-top: -1px !important;

    @include breakpoint( medium ) {
        margin-top: 0 !important;
    }
    
    top: 0 !important;

}

.admin-bar {
	
	#notice-banner {
		
		@include breakpoint( small only ) {
			
			margin-top: 45px !important;
			
		}
		
	}
	
	#notice-banner ~ .top-bar {
		
		margin-top: 0 !important;
		
	}

    .top-bar {
        
        margin-top: 45px !important;
        
        @include breakpoint( medium ) {
            
            margin-top: 0 !important;
            
        }

        &.sticky.is-stuck {

            @include breakpoint( medium ) {

                margin-top: 32px !important;

            }

        }

    }
    
}