.top-bar {

    text-align: center;
    font-family: $header-font-family;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
	z-index: 42;
	
	background: $topbar-background;

    &.row {

        padding-left: 0;
        padding-right: 0;

    }

    &, .top-bar-left, .top-bar-right, .top-bar-menus {

        > ul {
			
			background: transparent;
			
            > li {
                > a {
                    
                    color: $topbar-link-color;
                    
                    &:before, &:after {
                        border-color: $topbar-link-color;
                    }
                    
                    &:hover {
                        
                        color: $gear-color;
                        
                        &:before, &:after {
                            border-color: $gear-color;
                        }
                        
                    }
                    
                }
            }
        }
        
        // We need to keep the padding and such for the Header
        > ul.fake {
            
            li {
                
                a {
                    
                    cursor: default;
                    
                    &:before, &:after {
                        border-color: transparent;
                    }
                    
                    &:hover {
                        &:before, &:after {
                            border-color: transparent;
                        }
                    }
                    
                }
                
            }
            
        }

    }

    & > ul, .top-bar-menus > ul {
        display: inline-block;
    }

    .top-bar-left.mobile-menu {
        
        display: inline-block;
        text-align: left;
        width: auto;
        z-index: 43;

        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        left: 0;

        .menu-icon-wrapper {
            padding: $menu-item-padding;
        }

    }

    .top-bar-left {
        ul {
            float: right;
        }
    }
	
	.top-bar-right {
		
		width: 48%;
		
		ul {
			float: left;
		}
		
	}

    .top-bar-section {
        display: block;
        position: relative;
    }

    .top-bar-logo {

        @include breakpoint( small only ) {

            display: inline-block;
            width: auto;
            float: right;

        }

        img {
            max-height: rem-calc( 75 );
            width: auto;
        }

    }

    .top-bar-menus {

        @include breakpoint( medium ) {

            float: right;
            display: flex;
            flex-direction: initial;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            ul {
                margin-top: auto;
                margin-bottom: rem-calc( 4 );
            }

        }

    }

}