.post-type-archive-download, .tax-download_category, .tax-download-tag {
    
    &, .off-canvas-content {
        background: $light-gray;
    }
    
    #site-content {
        padding-top: 0;
    }
    
    .downloads-header {
        
        background-color: $primary-color;
        border-bottom: 0.5rem solid lighten( $primary-color, 30% );
        
        padding-top: $site-content-padding; // #site-content padding
        padding-bottom: $site-content-padding * 0.5;
        
        @include light-or-dark-text( $primary-color );
        font-size: 1.25rem;
        text-align: center;
        
        h3 {
            margin-bottom: 0;
            font-weight: bold;
        }
        
    }

    .facetwp-facet-categories {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .facetwp-radio {
        background-image: none;
        padding-left: 0;
        @include button( false, $primary-color, scale-color( $primary-color, $lightness: -15% ), 'auto', 'solid' );
        margin: 0 5px;


        &.checked {
            background-image: none;
            background-color: $secondary-color;
        }

        .facetwp-counter {
            display: none;
        }
    }

    .facetwp-load-more {
        @include button( false, $primary-color, scale-color( $primary-color, $lightness: -15% ), 'auto', 'solid' );
        margin-top: 2.5em;
        padding: 1.2em 2em;
        font-size: 1rem;
    }

    .product-image {

        a {

            &:before, &:after {
                border: none;
            }

        }

    }
    
    .animate-on-scroll {
        visibility: hidden;
    }
    
    @include drop-shadow-column( 'product' );

    .product {
        
        .product-container {
            
            background-color: white;
            
        }
        
        .product-container-top, .product-container-bottom {
            
            @each $breakpoint, $gutter in $grid-column-gutter {
                $padding: rem-calc($gutter) / 2;

                @include breakpoint($breakpoint) {

                    padding: $padding * 1.5;

                }

            }
            
        }
        
        .title, .button {
            margin-bottom: 0;
        }
        
        // There's a border between the two
        hr {
            border-bottom: 3px solid $medium-gray;
            margin: 0;
        }
        
    }

    .product-image {

        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .product-price {
            margin-bottom: 20px;
        }
    }

    .product-buttons {
        .button {
            margin-bottom: 0;
        }
    }

}