/*
The static site header.

@since 0.1.0
*/
@import "../settings";

$header-height: 80px;

#site-header {
  padding: 20px;
  background: #222;
  box-shadow: 0 -10px 20px 10px rgba(0,0,0,1);
  z-index: 5;
  width: 100%;
  max-width: none;

  a {
    padding: 0 10px;
    color: #fff;
    display: block;

    &:hover {
      color: $secondary-color;
    }
  }

  .site-title {
    margin: 0;
    color: #fff;
    font-size: rem-calc(25);
    white-space: nowrap;

    @media #{$small-only} {
      font-size: rem-calc(25);
      line-height: normal;
    }

    img {
      position: relative;
      height: 80px;
    }

    @media #{$small-only} {
      text-align: center;
      margin-bottom: 20px;

      img {
        margin: 0 auto 10px auto;
        display: block;
      }
    }
  }

  .site-nav {
    text-align: right;

    .menu {
      list-style: none;
      margin: 0;

      .menu-item {
        display: inline-block;

        &.current-menu-item {
          a {
            color: $secondary-color;
          }
        }
      }
    }

    @media #{$small-only} {
      text-align: center;
    }
  }
}

body.admin-bar {
  #site-header {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }
}